<div class="b">
<br>

<br>
<br>
<br>

	<h1></h1>
<br>

	<p></p>
<br>



<section>
	<div>
		<div class ="container">
			<div class ="row">
				
				<div class="col-12">
				</div>
			</div>
		</div>
	</div>
</section>




<section>
	<div>
		<div class ="container">
			<div class ="row">
					
				<div class="col-12">
					<!--
					<app-profile></app-profile>
					-->
				</div>
			</div>
		</div>
	</div>
</section>


<section>
	<div>
		<div class ="container">
			<div class ="row">
					
				<div class="col-12">
					<app-lang></app-lang>
				</div>
			</div>
		</div>
	</div>
</section>


<br>
<br>
<br>





<h4></h4>





<section>
	<div>
		<div class ="container booksread">
			<div class ="row row-content">
					
				<div class="col-12">
				<h2 style="text-align:center;">Some Books I've read</h2>
								
				</div>
				
				<div class="col-12 ">
				
					<div class="table-responsive">
					 
						<table class="table table-stripped">
						
							<thead class="thead-dark">
								<tr>
									<th>Book</th>
									<th>&nbsp;</th>
									<th>Author</th>
									<th>&nbsp;</th>
									
								</tr>
							</thead>
							
							
							<tbody>
							
								<tr>
									<th>Polyglot: How I learn languages</th>
									<th>&nbsp;</th>
									<th>Kató Lomb</th>
								</tr>
								
								<tr>
									<th>How to win Friends and Influence People</th>
									<th>&nbsp;</th>
									<th>Dale Carnegie</th>
								</tr>
								
								<tr>
									<th>El Ingenioso Hidalgo Don Quijote de la Mancha</th>
									<th>&nbsp;</th>
									<th>Miguel de Cervantes Saavedra</th>
								</tr>
							
								<tr>
									<th>El Principito</th>
									<th>&nbsp;</th>
									<th>Antoine de Saint-Exupery</th>
								</tr>
								<tr>
									<th>Guerra y Paz</th>
									<th>&nbsp;</th>
									<th>León Tolstoy</th>
								</tr>
								<tr>
									<th>El Viejo y el mar</th>
									<th>&nbsp;</th>
									<th>Ernest Hemingway</th>
								</tr>
								<tr>
									<th>Marianela</th>
									<th>&nbsp;</th>
									<th>Benito Perez Galdós</th>
								</tr>
								<tr>
									<th>Ivanhoe</th>
									<th>&nbsp;</th>
									<th>Walter Scott</th>
								</tr>
								<tr>
									<th>The Conquest of Happiness</th>
									<th>&nbsp;</th>
									<th>Bertrand Russell</th>
								</tr>
								<tr>
									<th>Aleph</th>
									<th>&nbsp;</th>
									<th>Paulo Coelho</th>
								</tr>
								<tr>
									<th>El Psicoanalista</th>
									<th>&nbsp;</th>
									<th>John Katzenbach</th>
								</tr>
								<tr>
									<th>El hombre bicentenario</th>
									<th>&nbsp;</th>
									<th>Isaac Asimov</th>
								</tr>
								<tr>
									<th>Robinson Crusoe</th>
									<th>&nbsp;</th>
									<th>Daniel Defoe</th>
								</tr>
								<tr>
									<th>El hombre que calculaba</th>
									<th>&nbsp;</th>
									<th>Malba Tahan</th>
								</tr>
								<tr>
									<th>Política</th>
									<th>&nbsp;</th>
									<th>Aristoteles</th>
								</tr>
								<tr>
									<th>20 000 leguas de viaje submarino</th>
									<th>&nbsp;</th>
									<th>Julio Verne</th>
								</tr>
								<tr>
									<th>La vuelta al mundo en 80 días</th>
									<th>&nbsp;</th>
									<th>Julio Verne</th>
								</tr>
								<tr>
									<th>Eichmann en Jerusalén</th>
									<th>&nbsp;</th>
									<th>Hanna Arendt</th>
								</tr>
								<tr>
									<th>Zadig</th>
									<th>&nbsp;</th>
									<th>Voltaire</th>
								</tr>
								<tr>
									<th>La vida es sueño</th>
									<th>&nbsp;</th>
									<th>Calderón de la Barca</th>
								</tr>
								<tr>
									<th>Totem und Tabu</th>
									<th>&nbsp;</th>
									<th>Sigmund Freud</th>
								</tr>
								<tr>
									<th>Viaje al centro de la Tierra</th>
									<th>&nbsp;</th>
									<th>Julio Verne</th>
								</tr>
								<tr>
									<th>El Dr. Jekyll & Mister Hide</th>
									<th>&nbsp;</th>
									<th>Robert Louise Stevenson</th>
								</tr>
								<tr>
									<th>La isla del tesoro</th>
									<th>&nbsp;</th>
									<th>Robert Louise Stevenson</th>
								</tr>
								<tr>
									<th>Dracula</th>
									<th>&nbsp;</th>
									<th>Bram Stoker</th>
								</tr>
								<tr>
									<th>El Amor, las mujeres y la muerte</th>
									<th>&nbsp;</th>
									<th>Arthur Schopenhauer</th>
								</tr>
								<tr>
									<th>La Hija del Capitán</th>
									<th>&nbsp;</th>
									<th>Alexandr Pushkin</th>
								</tr>
								<tr>
									<th>Crimen y castigo</th>
									<th>&nbsp;</th>
									<th>Fiodor M. Dostoievsky</th>
								</tr>
								<tr>
									<th>Los Hermanos Karamazov</th>
									<th>&nbsp;</th>
									<th>Fiodor M. Dostoievsky</th>
								</tr>
								<tr>
									<th>Cien Años de Soledad</th>
									<th>&nbsp;</th>
									<th>Gabriel García Marquez </th>
								</tr>
								<tr>
									<th>Arráncame la vida</th>
									<th>&nbsp;</th>
									<th>Angeles Mastretta</th>
								</tr>
								<tr>
									<th>El Avaro</th>
									<th>&nbsp;</th>
									<th>Jean-Baptiste Poquelin</th>
								</tr>
								<tr>
									<th>El León de Damasco</th>
									<th>&nbsp;</th>
									<th>Emilio Salgari</th>
								</tr>
								<tr>
									<th>El Principe</th>
									<th>&nbsp;</th>
									<th>Nicolas Maquiavelo</th>
								</tr>
								<tr>
									<th>Los Hornos de Hitler</th>
									<th>&nbsp;</th>
									<th>Olga Lengyel</th>
								</tr>
								<tr>
									<th>Pedro Páramo</th>
									<th>&nbsp;</th>
									<th>Juan Rulfo</th>
								</tr>
								<tr>
									<th>El Arte de la Guerra</th>
									<th>&nbsp;</th>
									<th>Sun Tzu</th>
								</tr>
								<tr>
									<th>El último de los Mohicanos</th>
									<th>&nbsp;</th>
									<th>James Fenimore Cooper</th>
								</tr>
								<tr>
									<th>Por quien doblan las campanas</th>
									<th>&nbsp;</th>
									<th>Ernest Hemingway</th>
								</tr>
								<tr>
									<th>Contacto</th>
									<th>&nbsp;</th>
									<th>Carl Sagan</th>
								</tr>
								<tr>
									<th>Los nueve libros de la Historia</th>
									<th>&nbsp;</th>
									<th>Herodoto</th>
								</tr>
								<tr>
									<th>Rebelión en la granja</th>
									<th>&nbsp;</th>
									<th>George Orwell</th>
								</tr>
								<tr>
									<th>Robin Hood</th>
									<th>&nbsp;</th>
									<th>Walter Scott</th>
								</tr>
								<tr>
									<th>El Principe y el Mendigo</th>
									<th>&nbsp;</th>
									<th>Mark Twain</th>
								</tr>
							
							
							</tbody>
				
					
				
						</table>

					
					</div>
				
				</div>
				
				
				
				
							
			</div>
		</div>
	</div>
</section>
<br>
<div>&nbsp;&nbsp;      <br>
<br>

</div>



</div>
