<div class="h">
<br>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-4">
							

					<div style="text-align:center;"><a target="a_blank" href="https://www.memrise.com/user/Tomas_IC"><h6>My Memrise!</h6></a></div>

				
				
			</div>
			
			<div class="col-12 col-sm-4 w">
				
				<a href="https://www.fiverr.com/tom45_/translate-english-to-spanish-800-words"><img src="assets/img/fiverr.png" width="20px;">
				&nbsp;My fiverr Gig!</a>
				

			</div>
			
			
			<div class="col-12 col-sm-4 w">
				
				<fa-icon [icon]="EnIcon"></fa-icon>&nbsp;<a href="mailto:48.wk.s1c99sx.tms@gmail.com?Subject=Translation">Contact me!</a>
					
				
			</div>
				<p></p>
				

			</div>
			
		
	</div>
	
	<p><fa-icon [icon]="RegIcon"></fa-icon>&nbsp;2020. All Rights Reserved</p>
		


</div>
