<div class="h">
<br>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6">
							

<div style="text-align:center;"><a target="a_blank" href="https://www.decks.memrise.com/user/Tomas_IC"><h6>My Memrise!</h6></a></div>

				
				
			</div>
			
			<div class="col-12 col-sm-6 w">
				
				<a href="https://www.fiverr.com/tom45_/translate-english-to-spanish-500-words"><img src="assets/img/fiverr.png" width="30px;">
				&nbsp;Hire me!</a>
				

			</div>
		</div>
	</div>
	
	<p><fa-icon [icon]="RegIcon"></fa-icon>&nbsp;2020. All Rights Reserved</p>
		


</div>
