
<div class="all">




<br>
<br>
<br>
<br>

	<h3 style="text-align:center;">Thanks to:</h3>
	<br>
	<br>
	<br>
	<div><p style="text-align:center;" class="dd">For the Free Resources:</p></div>

				<div class="col-12 ">
				
					<div class="table-responsive">
					 
						<table class="table table-stripped">
						
							<thead class="thead-dark">
								<tr>
									<th></th>
									<th>&nbsp;</th>
									<th></th>
									<th>&nbsp;</th>
									
								</tr>
							</thead>
							
							
							<tbody>
							
								<tr>
									<th><a href="http://www.flaticon.es">www.flaticon.es</a></th>
									<th>&nbsp;</th>
									<th>Free Icons</th>
								</tr>
							<br>
								<tr>
									<th><a href="http://www.iconfinder.com">www.iconfinder.com</a></th>
									<th>&nbsp;</th>
									<th>Free Icons</th>
								</tr>
							<br>	
								
								<tr>
									<th><a href="http://www.fontawesome.com">www.fontawesome.com</a></th>
									<th>&nbsp;</th>
									<th>Fontawesome Icons</th>
								</tr>
							<br>
								
								
								<tr>
									<th><a href="http://www.freestocktextures.com">www.freestocktextures.com</a></th>
									<th>&nbsp;</th>
									<th>Backgrounds</th>
								</tr>
							<br>	
								
								<tr>
									<th><a href="http://www.freepik.es">www.freepik.es</a></th>
									<th>&nbsp;</th>
									<th>logo</th>
								</tr>
							<br>	
								<tr>
									<th>Pierre Leverrier</th>
									<th>&nbsp;</th>
									<th>jumbotron Photo</th>
								</tr>
							<br>	
								<tr>
									<th><a href="http://www.flagpedia.net">www.flagpedia.net</a></th>
									<th>&nbsp;</th>
									<th>Flags of the world</th>
								</tr>
							</tbody>
						</table>
						
						<br>
						<br>
					</div>
				</div>	
	
	<br>
	<br>
	<br>
	
	
</div>


