<div class="ver">

		
	<div class="">
		<br>
		<br>
		<br>
		<br>
		
	

		<div style="text-align:center;"><h2>Developing ...</h2></div>
			
			<br>
			<br>
			
			
			<div class ="container">
				<div class="row">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6">
						</div>
											
						<!--
						<CODE>
							while (noSucess)"{{
								<BR>
								&nbsp;tryAgain();
								<BR>
								&nbsp;if (Sucess){
								<BR>	
									&nbsp;&nbsp;improve();
								<BR>
								&nbsp;}
								<BR>
							
							}
							
						</CODE> -->
					</div>
				
			</div>
			
	</div>

			<br>

		<br>
		
		<div class="container">
			<div class="row">
				<div class ="col-12 col-md-2"></div>
				<div class ="col-12 col-md-8">
						
					<div class="jumbotron">
				
						<div>

	
							<div *ngFor = "let tool of tools" style="display:inline-block;">
								
								<img src="assets/img/dev/{{tool}}">
							
							</div>


						</div>
	
					</div>

				</div>
				<div class="col-12 col-md-2"></div>
			</div>
		</div>


		
		
		<br>
		<br>
		<br>
		<br>
		<br>
	
</div>